* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("./images/bg-intro-desktop.png");
    color: #ffff;
    font-family: "Poppins", sans-serif;
}

/* 1 way to do side by side layout */
.container {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    padding: 10rem;
}

.section-1 {
    width: 50%;
    margin-right: 3.5rem;
}

.section-2 {
    width: 50%;
}

/* 2 way to do side by side layout */

/* .container {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    padding: 5rem 10rem;
} */

.cta {
    background-color: hsl(248, 32%, 49%);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    background-color: white;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form > input {
    padding: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    border: 0.5px solid lightgray;
    border-radius: 0.5rem;

}

form > input:focus {
    border-radius: 1px solid black;
}

.submit-btn {
    color: white;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0.1);
}
.submit-btn:hover {
    background-color: hsl(154, 57%, 46%);
}

.round-edges {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
}

.terms {
    color: lightgrey;
    font-size: 0.6rem;
    text-align: center;
    font-weight: 700;
}


#red {
    color:hsl(0, 100%, 74%);
}

.heading-text {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.heading-description {
    line-height: 2rem;
    color: rgb(224, 221, 221);
}

